.featureSection {
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-width {
  width: 1000px;
  margin: auto;
}
.title {
  font-weight: 300;
  font-size: 50px;
  margin: 0;
  text-align: center;
}
strong {
  font-weight: 700;
}
h6 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.column {
  width: 32%;
}
